* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display:flex;
}
.column {
  display:flex;
  justify-content:center;
  align-items:center;
  border: 1px solid slategray;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.2s;
}
.column:hover {
  background-color: rgba(0,0,0,0.05);
}
.yellow {
  background-color: goldenrod;
}
.green {
  background-color: olive;
}
